
#navbar ul li a.selected {
    color: #fff;
    background: #000;
}


#navbar {
    color: #00f;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    border: 0px;
    width: auto;
    font-weight: bold;
}

#navbar ul{
    list-style: none;
}

#navbar a{
    text-decoration: none;
    float: left;
}

#navbar li {
    float: left;
}

#navbar li a{
    color:inherit;
    background-color: #ccc;
    display: block;
    line-height: 35px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
}
#navbar > ul > li > a {
    color: #00f;
}
#navbar li > a:hover,
#navbar ul li:hover > a {
    background: #000;
    color: #fff;
    box-shadow: 3px 3px 5px
}
#navbar li ul a {
    width: inherit;
}
#navbar li ul {
    top: 51px;
    left: 149px;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    display: none;
    width: 225px;
}
#navbar li:hover ul{
    display: block;
}
#navbar li li {
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 225px;
}



