body {
    background-color: #000;
    padding:0px;
    margin:0px;
    font-family: Verdana, Arial, sans-serif;
    font-size:12px;
}

#maincontainer {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
}


#foreground {
    position: fixed;
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    background-attachment: fixed;
    background-position: bottom;
    background-image: url(foreground_image.png); 
    background-repeat: repeat-x;
    z-index: 2;
}

    
ol {
    color:#EABF4F;
    font-weight: bold;
}

li em {
    color: #D65A4E;
    font-weight: normal;
    font-style: italic;
}

#titles {
    width: 300px;
    margin: 20px auto 200px auto;
    
}