<!DOCTYPE html>
<html>
    <head>
        <title>March 34 Notes</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    
    <body>
        <h1>Templates R Us</h1>
        <div id="navbar">
            <a href="index.html" class="navbutton">Home</a>
            <a href="aboutus.htm" class="navbutton">About Us</a>
            <a href="products.htm" class="navbutton">Products</a>
        </div>
        <div class="body">
            This is my content area.
        </div>
        
    </body>
    
    
</html>