body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 5px 5% 5px 5%;
    background-color: #fff;
    text-align: center;
}
#maxsize {
    max-width: 1200px;
    text-align: left;
}


#header {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#header h1 {
    color: #484;
}
#headleft {
    display: inline-block;
    position: relative;
    top: -130px;
    left: -40%;
}
#headright {
    display: inline-block;
    position: relative;
    top: -130px;
    right: -38%;
}





#navbar {
    position: absolute;
    max-width: 1200px;
    text-align: center;
    width: 100%;
    background-color: #4a4;
    height: 55px;
    top: 200px;
    left: 5%;
    
}

#navbar a {
    color: #fff;
    display: inline-block;
    padding: 5px;
    border: #000 solid 2px;
    margin-top: 10px;
    width: 100px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: #282;
    text-shadow: 4px 2px 2px #000;
}
#navbar a:active {
    box-shadow: inset 6px 3px 3px #000;
}
.navactive {
    background-color: #282;
    text-shadow: 4px 2px 2px #000;
    box-shadow: inset 6px 3px 3px #000;
}





#content {
    padding: 10px;
    font-size: 20px;
    color: #395;
}
#content ul li{
    padding: 10px;
}

#content div {
    display: inline-block;
    text-align: center;
    margin: 30px;
}
#content div a {
    text-decoration: none;
    color: inherit;
}


#content div img {
    width: 300px;
}

#homeimg {
    position: absolute;
    left: 30%;
    top: 280px;
}



form input {
    margin: 15px;
}

form textarea {
    width: 500px;
    height: 120px;
    margin-left: 15px;
    margin-top: 10px;
}
#submit {
    position: relative;
    left: 320px;
    font-weight: bold;
    width: 100px;
}

label {
    display: inline-block;
    width: 75px;
}
#maillabel {
    margin-top: 10px;
    display: inline-block;
    width: 300px;
    height: 50px;
    color: #c33;
}
#mail {
    position: relative;
    top: -10px;
    width: 20px;
    height: 20px;
}



#footer {
    margin-top: 150px;
}

#sale {
    
}
#prodsale {
    
}
#saleprice {
    position: relative;
    top: -30px;
    width: 225px;
}

