<!DOCTYPE html>
<html>
	<head>
		<title>Events Listing - Final</title>
		<link rel="stylesheet" href="style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	</head>
	<body>
		<div id="wrapper" ng-app="">
			<h1>Event Listing</h1>
			<div id="eventcontainer">
				<form id="eventform">
					<label for="eventname">Event Name:</label>
					<input type="text" id="eventname" ng-model="angulareventname">
					<br>
					<label for="eventcategory">Event Category: </label>
					<select id="eventcategory" ng-model="angulareventcategory">
						<option value="arts" selected="selected">Arts</option>
						<option value="athletic">Athletic</option>
						<option value="faculty">Faculty</option>
						<option value="students">Students</option>
					</select>
					<button type="submit" id="eventaddbutton" onclick="return addEvent()">Add</button>
				</form>
			</div>
			<div id="eventbuttons">
				<button id="buttonall">All</button>
				<button id="buttonarts">Arts</button>
				<button id="buttonathletic">Athletic</button>
				<button id="buttonfaculty">Faculty</button>
				<button id="buttonstudents">Students</button> 
			</div>
			<div id="eventlist">
				<div class={{angulareventcategory}}>{{angulareventname}}</div>

			</div>
		</div>


		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/javascript.js"></script>
	</body>
</html>