body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #333;
	font-size: 1.2em;
	color: #fff;
}
h1 {
	text-align: center;
}

#wrapper {
	width: 800px;
}

label {
	display: inline-block;
	text-align: right;
	width: 350px;
	margin: 5px;
	margin-right: 0px;
}

#eventcontainer{
	margin: 15px;
	padding: 5px;
}

#eventbuttons button{
	width: 75px;
	background-color: #000;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 10px;
	border-width: 3px;

}



.students {
	color: #99f;
}

.athletic {
	color: #0f0;
}

.faculty {
	color: #f00;
}

.arts {
	color: #ff0;
}

#eventbuttons {
	text-align:center;
}

#eventlist {
	padding-top: 20px;
}

#eventlist div{
	margin-left: 199px;
	display: block;
	border: 2px solid #fff;
	background-color: #555;
	height: 30px;
	width: 354px;
	padding:5px;
	padding-left: 40px;

}
#eventaddbutton{
	font-style:italic;
	font-weight:bold;
	width:88px;
}


#buttonstudents {
	color:#99f;
	border-color: #99f;
}
#buttonfaculty {
	color: #f00;
	border-color: #f00;
}
#buttonathletic{
	color: #0f0;
	border-color: #0f0;
}
#buttonall {
	color: #fff;
	border-color: #fff;

}
#buttonarts{
	color:#ff0;
	border-color:#ff0;
}
